body {
    font-family: "roboto" !important;
}

#body {
    padding: 20px !important;
}

.big-title, .title, .text-important {
    font-weight: bold !important;
    color: #f23869 !important;
}

.big-title {
    font-size: 35px !important;
}

.title {
    font-size: 27px !important;
}

.big-text {
    font-size: 30px !important;
}

@media (max-width: 350px) {
    .xs-disable {
        display: none !important;
    }

    .el-card__body, .el-main {
        padding: 5px;
    }
}

@media (max-width: 635px) {
    
    #body {
        padding: 5px !important;
    }

    .big-title {
        font-size: 25px !important;
    }
    
    .title {
        font-size: 17px !important;
    }
    
    .big-text {
        font-size: 20px !important;
    }
}

.subtitle {
    font-size: 20px !important;
    color: #f23869 !important;
}

.text {
    text-align: justify !important;
    font-size: 15px !important;
    padding: 10px 0px !important;
}

.without-borders {
    border: none !important;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.very-small-margin {
    margin: 2px !important;
}

.very-small-y-margin {
    margin: 0 2px !important;
}

.very-small-x-margin {
    margin: 0 2px !important;
}

.small-y-margin {
    margin: 10px 0 !important;
}

.small-x-margin {
    margin: 0 10px !important;
}

.small-margin {
    margin: 10px !important;
}

.normal-y-margin {
    margin: 15px 0 !important;
}

.normal-x-margin {
    margin: 0 15px !important;
}

.merge-cards-right {
    margin-top : 50px !important;
    margin-left: -6px !important;
    z-index: 2 !important;
    position: relative !important;
}

.merge-cards-left {
    margin-bottom: 50px !important;
    margin-right: -6px !important;
    z-index: 2 !important;
}

@media (max-width: 770px) {
    .merge-cards-right {
        margin : initial !important;
        margin-top: 5px !important;
    }
    
    .merge-cards-left {
        margin: initial !important;
        margin-bottom: 5px !important;
    }
}

.rounded-borders-except-tr {
    border-radius: 15px 0 15px 15px !important;
}

.rounded-borders-except-bl {
    border-radius: 15px 15px 15px 0 !important;
}

.big-home-image {
    border: 10px solid black !important;
    border-radius: 15px 2px 2px 15px !important;
    max-height: 425px !important;
    margin-top: 15px !important;
}

.small-image-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

@media (max-width: 1000px) {
    .small-image-container {
        justify-content: space-around !important;
    }
}

.small-image {
    /* border: .5px solid black !important; */
    border-radius: 2px !important;
    margin: 5px !important;
    transition: all .2s ease-in-out !important;
}

.small-image-clickable {
    cursor: pointer !important;
}

.small-image-clickable:hover {
    box-shadow: 0 0 5px black !important; 
    transform: scale(1.05) !important;
}

.merge-container-left {
    margin-left: 25px !important;
    margin-right: -25px !important;
}

.merge-container-right {
    margin-left: -25px !important;
    margin-right: 25px !important;
}

@media (max-width: 1000px) {
    .merge-container-left {
        margin-left: initial !important;
        margin-right: initial !important;
    }
    
    .merge-container-right {
        margin-left: initial !important;
        margin-right: initial !important;
    }
}

.button-bar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

@media (max-width: 635px) {
    .button-bar {
        justify-content: center !important;
    }
}

.text-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

.services-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.services-container .service-card {
    margin: 10px !important;
    width: 30% !important;
    min-width: 250px !important;
    max-width: 400px !important;
}

.services-container .service-card .service-card-content {
    height: 275px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.services-container .service-card .service-card-buttons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: end !important;
}